.env
__pycache__/
*.pyc
*.pyo
migrations/versions/
.DS_Store


# Large datasets — DO NOT commit
final_unified_dataset.csv

master_dataset_full.csv
combined_dataset.csv
analysisdataset.csv
Dataset_5971.csv
data-en-hi-de-fr.csv
fraud_dataset_v3.csv

